@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input, button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/*--------------------*/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #1A1A1A;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 110%;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
}

.section__actions a:first-of-type, .header__menu .main-btn, .main .main-btn, .code__offer a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 62px;
  height: 60px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  gap: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.section__actions a:first-of-type svg path, .header__menu .main-btn svg path, .main .main-btn svg path, .code__offer a svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.section__actions a:first-of-type, .header__menu .main-btn, .main .main-btn, .code__offer a {
  background: #1268CD;
  color: #fff;
}

.section__actions a:hover:first-of-type, .header__menu .main-btn:hover, .main .main-btn:hover, .code__offer a:hover {
  color: #fff;
  background: #03438d;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
  }
}

.section__text {
  margin: 35px 0 95px 0;
}

.section__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}

main {
  background: #1B1622 url(../img/main-bg2.png) no-repeat center bottom/cover;
  color: #fff;
  overflow-x: hidden;
}

.header {
  padding: 10px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__menu a {
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
  font-size: 16px;
}

.header__menu a:hover {
  color: #1268CD;
}

.header__menu > a {
  font-size: 18px;
}

.header__menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.header__burger {
  display: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__burger span {
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main .container {
  position: relative;
  padding-bottom: 123px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main h1 {
  margin-top: 66px;
  position: relative;
  z-index: 1;
}

.main p {
  max-width: 680px;
  opacity: .7;
  margin: 30px 0 50px;
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 150%;
}

.main__img {
  position: absolute;
  top: -130px;
  right: -120px;
  z-index: 0;
}

.about {
  padding: 100px 0 250px 0;
}

.about__title {
  font-weight: 600;
  color: #5DA5FA;
  text-transform: uppercase;
  position: relative;
  display: inline;
}

.about__title::before {
  content: '';
  width: 33px;
  height: 1px;
  background-color: #5DA5FA;
  position: absolute;
  left: -50px;
  top: 11px;
}

.about__main-title {
  margin: 30px auto 25px auto;
}

.about__title-text {
  max-width: 735px;
  opacity: .7;
  margin: 0 auto;
  margin-bottom: 170px;
}

.about__secondary-title {
  margin-bottom: 60px;
}

.about .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about .item__icon {
  min-width: 57px;
  height: 57px;
  border-radius: 50%;
  background: #1268CD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .item p {
  margin-top: 15px;
  font-size: 18px;
}

.about__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 123px;
}

.about__actions p {
  max-width: 735px;
}

.cycle {
  position: relative;
  padding-top: 80px;
}

.cycle__bg {
  position: absolute;
  top: -80px;
  right: 0;
  z-index: -1;
}

.cycle h2 {
  margin-top: 30px;
}

.example {
  padding-top: 160px;
  overflow-x: hidden;
}

.example .section__text {
  max-width: 710px;
}

.example__img {
  display: block;
  margin-right: 0;
  max-width: calc(100% + 30px);
  margin-left: -30px;
}

.instruction {
  padding-top: 110px;
}

.instruction h2 {
  margin-bottom: 30px;
}

.instruction__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.instruction__actions p {
  max-width: 735px;
}

.instruction .item {
  margin-bottom: 50px;
}

.instruction .item__number {
  color: #1268CD;
  font-weight: 600;
  font-size: 42px;
  line-height: 161%;
}

.code {
  padding: 110px 0 160px;
}

.code__img {
  width: calc(100% + 230px);
  margin-left: -230px;
}

.code__offer {
  padding-left: 70px;
}

.code__offer h2 {
  margin-top: 150px;
}

.footer {
  background: #F2F3F5;
  padding: 30px 0 50px;
}

.footer__text {
  font-size: 16px;
  color: #505050;
}

.footer__company {
  color: #747474;
  font-weight: 500;
  font-size: 24px;
}

.footer__credits span {
  font-weight: 500;
  font-size: 16px;
  color: #A8A8A8;
}

.footer__credits p {
  margin-top: 5px;
  font-weight: 500;
  font-size: 24px;
}

@media screen and (max-width: 1199px) {
  .section__text {
    margin: 30px 0 40px 0;
  }
  .header {
    overflow-x: hidden;
  }
  .header__logo {
    position: relative;
    z-index: 101;
  }
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #1B1622;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 200px 100px 0;
  }
  .header__menu a {
    font-size: 20px;
    display: block;
  }
  .header__menu > a {
    margin-bottom: 50px;
  }
  .header__menu > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 10px;
  }
  .header__menu .main-btn {
    margin-top: 100px;
  }
  .header__menu.active {
    right: 0;
  }
  .header__menu.active + .header__burger {
    margin-top: -10px;
  }
  .header__menu.active + .header__burger span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__menu.active + .header__burger span:nth-child(2) {
    opacity: 0;
  }
  .header__menu.active + .header__burger span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: -20px;
  }
  .header__menu.active:has(.header) {
    position: fixed;
  }
  .header__burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    z-index: 101;
    position: relative;
    float: right;
    margin-top: 10px;
  }
  .main__img {
    right: -440px;
    top: -80px;
  }
  .about__title-text {
    margin-bottom: 110px;
  }
  .about__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
  .cycle__img {
    max-width: 100%;
    margin-top: 80px;
  }
  .instruction__actions {
    margin-bottom: 80px;
  }
  .footer .section__actions {
    margin: 30px 0 50px;
  }
  .footer .row:last-child p {
    font-size: 16px !important;
    margin-top: 0;
  }
  .footer .row:last-child * {
    white-space: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .section h2 {
    margin-top: 50px;
  }
  .main .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__img {
    position: static;
    max-width: 100%;
    margin-top: -100px;
  }
  .main h1 {
    margin-top: -100px;
  }
  .about .item {
    margin-bottom: 50px;
  }
  .about__actions {
    margin-top: 50px;
  }
  .cycle__img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
  }
  .example .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .instruction .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instruction .container .row:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .instruction .container .row:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .instruction .container .row:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .instruction__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .code {
    padding-bottom: 90px;
  }
  .code__img {
    width: 100%;
    position: static;
    margin-left: 0;
  }
  .code__offer {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 160%;
  }
  .section__actions a:first-of-type, .header__menu .main-btn, .main .main-btn, .code__offer a {
    padding: 0 55px;
    height: 55px;
    font-size: 15px;
    gap: 5px;
    width: 100%;
  }
  .section__actions a:first-of-type svg, .header__menu .main-btn svg, .main .main-btn svg, .code__offer a svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  .section__actions {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .main__img {
    max-width: calc(100% + 200px);
    margin-left: -100px;
    margin-top: -80px;
  }
  .about__title-text {
    margin-bottom: 80px;
  }
  .about .item p {
    font-size: 15px;
    line-height: 150%;
  }
  .cycle {
    padding-top: 0;
  }
  .cycle h2 {
    margin-top: 80px;
  }
  .footer__company {
    margin-bottom: 20px;
  }
  .footer__credits {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 575px) {
  .header__menu {
    padding: 200px 30px 0 30px;
  }
  .header__logo img, .footer__logo img {
    max-width: 100%;
  }
}
