@import 'zeroing';

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #1A1A1A;
    background-color: #f9f9f9;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }
}

h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 110%;
}

h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
}

h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
}

%btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 62px;
    height: 60px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    gap: 14px;
    transition: all .3s ease;

    svg path {
        transition: all .3s ease;
    }
}

%main-btn {
    @extend %btn;
    background: #1268CD;
    color: #fff;

    &:hover {
        color: #fff;
        background: #03438d;
    }   
}

%secondary-btn {
    @extend %btn;    
    border: 2px solid #1268CD;
    color: #1268CD;

    &:hover {
        background: #1268CD;
        color: #fff;

        svg path {
            fill: #fff;
        }
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px;
    }
}

.section {
    &__text {
        margin: 35px 0 95px 0;
    }

    &__actions {
        display: flex;
        gap: 36px;

        a {
            &:first-of-type {
                @extend %main-btn;
            }
            
            // &:last-of-type {
            //     @extend %main-btn;
            // }
        }
    }
}

main {
    background:#1B1622 url(../img/main-bg2.png) no-repeat center bottom / cover;
    color: #fff;
    overflow-x: hidden;
}

.header {
    padding: 10px 0;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .3s ease;

        a {
            position: relative;
            transition: all .3s ease;
            z-index: 1;
            font-size: 16px;

            &:hover {
                color: #1268CD;
            }
        }

        & > a {
            font-size: 18px;
        }

        > div {
            display: flex;
            align-items: center;
            gap: 60px;
        }

        .main-btn {
            @extend %main-btn;
        }
    }

    &__burger {
        display: none;
        align-items: flex-end;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: 1;
        transition: all .3s ease;

        span {
            width: 30px;
            height: 4px;
            border-radius: 10px;
            background-color: #fff;
            transition: all .3s ease;
        }
    }
}

.main {
    .container {
        position: relative;
        padding-bottom: 123px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    h1 {
        margin-top: 66px;
        position: relative;
        z-index: 1;
    }

    p {
        max-width: 680px;
        opacity: .7;
        margin: 30px 0 50px;
        position: relative;
        z-index: 1;
        font-size: 18px;
        line-height: 150%;
    }

    .main-btn {
        @extend %main-btn;
    }

    &__img {
        position: absolute;
        top: -130px;
        right: -120px;
        z-index: 0;
    }
}

.about {
    padding: 100px 0 250px 0;

    &__title {
        font-weight: 600;
        color: #5DA5FA;
        text-transform: uppercase;
        position: relative;
        display: inline;

        &::before {
            content: '';
            width: 33px;
            height: 1px;
            background-color: #5DA5FA;
            position: absolute;
            left: -50px;
            top: 11px;
        }
    }

    &__main-title {
        margin: 30px auto 25px auto;
    }

    &__title-text {
        max-width: 735px;
        opacity: .7;
        margin: 0 auto;
        margin-bottom: 170px;
    }

    &__secondary-title {
        margin-bottom: 60px;
    }

    .item {
        display: flex;
        gap: 30px;

        &__icon {
            min-width: 57px;
            height: 57px;
            border-radius: 50%;
            background: #1268CD;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            margin-top: 15px;
            font-size: 18px;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 123px;

        p {
            max-width: 735px;
        }
    }
}

.cycle {
    position: relative;
    padding-top: 80px;

    &__bg {
        position: absolute;
        top: -80px;
        right: 0;
        z-index: -1;
    }

    h2 {
        margin-top: 30px;
    }
}

.example {
    padding-top: 160px;
    overflow-x: hidden;

    .section__text {
        max-width: 710px;
    }

    &__img {
        display: block;
        margin-right: 0;
        max-width: calc(100% + 30px);
        margin-left: -30px;
    }
}

.instruction {
    padding-top: 110px;

    h2 {
        margin-bottom: 30px;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;

        p {
            max-width: 735px;
        }
    }

    .item {
        margin-bottom: 50px;

        &__number {
            color: #1268CD;
            font-weight: 600;
            font-size: 42px;
            line-height: 161%;
        }
    }
}

.code {
    padding: 110px 0 160px;

    &__img {
        width: calc(100% + 230px);
        margin-left: -230px;
    }

    &__offer {
        padding-left: 70px;

        h2 {
            margin-top: 150px;
        }
    
        a {
            @extend %main-btn;
        }
    }
}

.footer {
    background: #F2F3F5;
    padding: 30px 0 50px;

    &__text {
        font-size: 16px;
        color: #505050;
    }

    &__company {
        color: #747474;
        font-weight: 500;
        font-size: 24px;
    }

    &__credits {
        span {
            font-weight: 500;
            font-size: 16px;
            color: #A8A8A8
        }

        p {
            margin-top: 5px;
            font-weight: 500;
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .section {
        &__text {
            margin: 30px 0 40px 0;
        }
    }

    .header {
        overflow-x: hidden;

        &__logo {
            position: relative;
            z-index: 101;
        }
        &__menu {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100vh;
            background-color: #1B1622;
            z-index: 100;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 200px 100px 0;

            a {
                font-size: 20px;
                display: block;
            }

            & > a {
                margin-bottom: 50px;
            }

            > div {
                flex-direction: column;
                align-items: flex-end;
                gap: 10px;
            }

            .main-btn {
                margin-top: 100px;
            }
        }

        &__menu.active {
            right: 0;

            + .header__burger {
                margin-top: -10px;

                span {
                    &:nth-child(1) {
                        transform: rotate(45deg);

                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        margin-top: -20px;
                    }
                }
            }

            &:has(.header) {
                position: fixed;
            }
        }

        &__burger {
            display: inline-flex;
            z-index: 101;
            position: relative;
            float: right;
            margin-top: 10px;
        }
    }

    .main {
        &__img {
            right: -440px;
            top: -80px;
        }
    }

    .about {
        &__title-text {
            margin-bottom: 110px;
        }

        &__actions {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 30px;
        }
    }

    .cycle {
        &__img {
            max-width: 100%;
            margin-top: 80px;
        }
    }

    .instruction {
        &__actions {
            margin-bottom: 80px;
        }
    }

    .footer {
        .section__actions {
            margin: 30px 0 50px;
        }

        .row:last-child {
            p {
                font-size: 16px !important;
                margin-top: 0;
            }

            * {
                white-space: nowrap;
            }
        }
    }
}

@media screen and (max-width: 991px) {

    .section {
        h2 {
            margin-top: 50px;
        }
    }
    .main {
        .row {
            flex-direction: column-reverse;
        }
        
        &__img {
            position: static;
            max-width: 100%;
            margin-top: -100px;
        }

        h1 {
            margin-top: -100px;
        }
    }

    .about {
        .item {
            margin-bottom: 50px;
        }

        &__actions {
            margin-top: 50px;
        }
    }

    .cycle {
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 50%;
        }
    }

    .example {
        .row {
            flex-direction: column-reverse;
        }
    }

    .instruction {
        .container {
            display: flex;
            flex-direction: column;
        
            .row:nth-child(1) {
                order: 1;
            }
    
            .row:nth-child(3) {
                order: 2;
            }
            .row:nth-child(2) {
                order: 3;
            }
        }

        &__actions {
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
        }
    }

    .code {
        padding-bottom: 90px;
        
        &__img {
            width: 100%;
            position: static;
            margin-left: 0;
        }

        &__offer {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 16px;
        line-height: 160%;
    }

    %btn {
        padding: 0 55px;
        height: 55px;
        font-size: 15px;
        gap: 5px;
        width: 100%;

        svg {
            transform: scale(0.8);
        }
    }
    
    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    .section {
        &__actions {
            width: 100%;
            flex-direction: column;
            gap: 15px;
        }
    }

    .main {
        &__img {
            max-width: calc(100% + 200px);
            margin-left: -100px;
            margin-top: -80px;
        }
    }

    .about {
        &__title-text {
            margin-bottom: 80px;
        }

        .item {
            p {
                font-size: 15px;
                line-height: 150%;
            }
        }
    }

    .cycle {
        padding-top: 0;

        h2 {
            margin-top: 80px;
        }
    }

    .footer {
        &__company {
            margin-bottom: 20px;
        }

        &__credits {
            margin-bottom: 8px;
        }
    }
}

@media screen and (max-width: 575px) {
    .header {
        &__menu {
            padding: 200px 30px 0 30px;
        }
    }

    .header, .footer {
        &__logo {
            img {
                max-width: 100%;
            }
        }
    }
}

